" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

"Source your .vimrc
source ~/.vimrc


"format the whole file
map <leader>ff <Action>(ReformatCode)
"format the current line only
map <leader>fl V<Action>(ReformatCode)

"show hover info (like error and ...)
map <S-H> <Action>(ShowHoverInfo)
"toggle breakpoint on currentLine
map <leader>b <Action>(ToggleLineBreakpoint)






"Tab for nextTab
map <Tab> <Action>(NextTab)
" And Shift + Tab for PreviousTab
map <S-Tab> <Action>(PreviousTab)
